<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="helloworld@modules.jelix.org" name="helloworld">
        <version date="2019-01-05">1.0.1</version>
        <label lang="en_US">Hello world</label>
        <description lang="en_US"></description>
        <license>MIT</license>
        <copyright>2016-2019 Laurent Jouanneau</copyright>
    </info>
</module>
